* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font-1: 'Poppins';
    --font-2: 'Montserrat';
    --or-1: #ffcc44;
    --or-2: #ffcc45;
    --section__margin: 100px;
}

#discover__header {
    height: auto;
    min-height: 100vh;
    background: url("../img/joinusBg.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#discover__header .discover__text__div {
    min-height: 100vh;
    height: auto;
    background: rgba(50, 50, 50, .2);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.discover__text__address, .discover__text__text {
    width: 50%;
    height: 100%;
    padding-top: 50px;
    display: flex;
}

.discover__text__address {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.discover__text__address label {
    font-family: var(--font-2);
    font-weight: 700;
    font-size: 20px;
}

.discover__text__address form {
    padding: 10px;
    display: flex;
    gap: 0;
    align-items: center;
}

.discover__text__address form input {
    height: 60px;
    width: 350px;
    border: 2px solid var(--or-1);
    border-right: none;
    padding-left: 15px;
    font-family: var(--font-2);
    font-weight: 700;
}

.discover__text__address form i {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background: var(--or-1);
    color: #fff;
}

.discover__text__address form button {
    border: none;
    height: 60px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 10px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--or-1);
    border-left: none;
}

#discover__seek__icon {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 18px;
}

.discover__text__text {
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    font-family: var(--font-1);
    font-weight: 700;
}

#categories__section {
    height: auto;
    padding-bottom: 50px;
}

#categories__col {
    height: 250px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    gap: 50px;
    
}

.categorie__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 150px;
    padding-left: 10px;
    padding-right: 10px;
    height: 170px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: .6s;
}

.categorie__item img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #c0c0c0;
    padding: 10px;
}

.categorie__item h4 {
    font-family: var(--font-2);
    font-size: 16px;
    font-weight: 600;
}

.categorie__item:hover {
    background: rgba(255, 204, 68, .1);
}

#active__category {
    background: rgba(255, 204, 68, .1);
}

#categories__col::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
    display: none;
}

#providers__section__search__results {
    height: auto;
    min-height: 500px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 50px;
    padding-bottom: 15px;
}

.discover__search__result {
    height: 350px;
    border: 1px solid #c0c0c0;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
    cursor: pointer;
    transition: .6s;
}

.discover__search_result__image {
    width: 100%;
    height: 200px;
    border-radius: 13px;
}

.partner__discover__logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid var(--or-2);
    margin-top: -90px;
    margin-left: 10px;
}

.discover__search__result h5 {
    margin-top: 10px;
    font-family: var(--font-2);
    font-weight: 600;
    font-size: 18px;
}

.ranking {
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -10px;
}

.ranking i {
    color: #ffcc45;
}

.ranking b {
    font-size: 14px;
    margin-left: 10px;
}

.partner__options {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.partner__options b {
    font-size: 14px;
    font-style: normal;
    font-family: var(--font-2);
    font-weight: 600;
}

.partner__options i {
    color: #323232;
}

#providers__section__search__results .row {
    gap: 25px;
    justify-content: center;
}

.discover__search__result:hover {
    background: rgba(255, 204, 68, .1);
}
/* Added responsive */
@media screen and (max-width: 600px) {
    .discover__text__div {
        flex-direction: column;
        margin: 0;
    }

    .discover__text__address {
        flex-direction: column;
        width: 100%;
    }

    .discover__text__address form input {
        width: 250px;
    }

    .discover__text__text {
        display: none;
    }

    #discover__header {
        padding: 0;
        padding-top: 0;
    }

    .discover__header__row {
        padding: 0;
    }

    #categories__section .row {
        padding: 10px;
    }
}