* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font-1: 'Poppins';
    --font-2: 'Montserrat';
    --or-1: #ffcc44;
    --or-2: #ffcc45;
    --section__margin: 100px;
}

.nav__bar {
    width: 100%;
    height: auto;
    min-height: 90px;
    align-items: center;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 10;
}

.nav__bar__items {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}

.nav__logo {
    width: 60px;
}

.nav__links {
    display: flex;
    gap: 25px;
}

.nav__links a {
    text-align: center;
    display: flex;
    align-items: center;
    font-family: var(--font-1);
    font-weight: 500;
    text-decoration: none;
    color: #595857;
    font-size: 16px;
    position: relative;
}

.nav__links .active__link {
    color: #323232;
    font-weight: 600;
}

.nav__links .active__link::before {
    position: absolute;
    display: block;
    height: 4px;
    border-radius: 50px;
    background: var(--or-1);
    content: ' ';
    width: 100%;
    margin-top: 35px;
}

.nav__links a::after {
    position: absolute;
    display: block;
    height: 4px;
    border-radius: 50px;
    background: var(--or-1);
    content: ' ';
    width: 0%;
    margin-top: 35px;
    transition: .6s;
}

.nav__links a:hover::after {
    width: 100%;
}

.nav__buttons {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav__btn__icon {
    width: 40px;
    height: 40px;
    font-size: 23px;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__btn__text {
    display: flex;
    border: 2px solid var(--or-2);
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 25px;
    font-family: var(--font-1);
    font-size: 15px;
    text-decoration: none;
    background: var(--or-2);
    color: #323232;
    font-weight: 600;
    transition: .6s;
}

.nav__btn__text:hover {
    color: var(--or-2);
    background-color: transparent;
}

#shopping-cart::after {
    position: absolute;
    display: flex;
    content: attr(content);
    width: 20px;
    height: 20px;
    background: var(--or-1);
    border-radius: 50%;
    margin-top: -35px;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #323232;
}

/* STYLE POUR LE HEADER */

#section__header {
    height: auto;
    min-height: 100vh;
    padding-bottom: 50px;
    background: rgba(255, 204, 68, .1);
    padding-top: 100px;
}


#section__header__img img {
    width: 100%;
    height: 100%;
}

#section__header__row {
    align-items: center;
    justify-content: center;
    gap: 50px;
}


#section__header__text h1 {
    font-family: var(--font-2);
    font-weight: 700;
    font-size: 45px;
    color: #323232;
    text-transform: capitalize;
}

#section__header__text h1 i {
    font-style: normal;
    color: var(--or-1);
}

#section__header__text p {
    font-family: var(--font-1);
    color: #595857;
    font-size: 13px;
    font-weight: 500;
    width: 70%;
}

#section__how__it__works {
    min-height: auto;
    height: 500px;
    margin-top: 100px;
}

.fil__ariane {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

.fil__ariane b {
    color: var(--or-2);
    font-family: var(--font-2);
    font-weight: 700;
    font-size: 17px;
}

.fil__ariane span {
    font-size: 30px;
    font-family: var(--font-1);
    font-weight: 800;
    color: #323232;
}

.fil__ariane p {
    color: #595857;
    margin-top: 10px;
    font-family: var(--font-1);
    font-weight: 600;
    font-size: 18px;
}

#section__how__it__works > .row {
    margin-top: 50px;
    justify-content: center;
    gap: 25px;
}

.how__it__works__item {
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.how__it__works__item img {
    width: 65%;
    height: auto;
}

.how__it__works__item b {
    font-family: var(--font-2);
    font-weight: 800;
    font-size: 18px;
    text-align: center;
}

.how__it__works__item p {
    color: #595857;
    text-align: center;
    font-family: var(--font-1);
    font-size: 13px;
    font-weight: 500;
}

#section__popular__menus {
    margin-top: var(--section__margin);
    height: auto;
    min-height: 500px;
    padding-bottom: 50px;
}

#popular__menus__row {
    margin-top: 50px;
}

.popular__menu {
    height: 425px;
    border-radius: 25px;
    padding: 0;
    background: #f1f1f1;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.popular__menu__image__area {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popular__menu__details__area {
    height: 125px;
    background: #fff;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    display: flex;
    flex-direction: column;
}

.popular__menu__price__section {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
}

.popular__menu__name {
    font-family: var(--font-2);
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 700;
    color: #323232;
}

.popular__menu__provider {
    text-align: center;
    color: #595857;
    font-family: var(--font-1);
    font-size: 15px;
}

.popular__menu__price__section b {
    font-family: var(--font-2);
    font-weight: 700;
    flex-grow: 1;
}

.popular__menu__price__section i {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: var(--or-1);
}

.popular__menu__image__area img {
    width: 65%;
    height: auto;
}